
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Alegreya SC';
	background: #000000;
	color: #ffffff;
	margin-top: -20px;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
h1{
	font-family: 'B612';
	font-size: 60px;
	text-shadow: 0 0 5px #ff6600,0 0 5px #ff0000;
	text-align: center;
	background: url('../images/coronavirus-edit.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: rgba(255, 255, 255, 1.0);
	border: 3px solid #248f24;
	border-radius: 15px;
	padding: 10%;
}
h2{
	text-align: center;
	font-size: 23;
	text-decoration: underline;
	text-decoration-color: #00b33c;
}
.sidebar{
	position: fixed;
	top: 0px;
	left: -200px;
	width: 200px;
	height: 575px;
	background: rgba(51, 255, 51, 0.8);
	border-top: 3px solid #fff000;
	border-right: 3px solid #fff000;
	border-bottom: 3px solid #fff000;
	-webkit-transition: all .5s ease;
	z-index: 1000;
}
.sidebar header{
	font-size: 22px;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
	line-height: 70px;
	background: #000000;
	user-select: none;
}
.sidebar ul a{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	font-weight: 700;
	color: #000000;	
	padding-left: 40px;
	margin: 5px 0px;
	box-sizing: border-box;
	border-top: 1px solid rgba(214, 214, 194, 0.2);
	border-bottom: 1px solid #000000;
	-webkit-transition: .4s;
}
.sidebar ul li:last-child a{
	border-bottom: none;
}
ul li:hover a{
	padding-left: 50px;	
}
.sidebar ul a li{
	margin-right: 16px;
}
#text{
	display: none;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: #000000;
	border-radius: 7px;
	position: fixed;
}
label #btn{
	left: 25px;
	top: 40px;
	font-size: 35px;
	color: #33ff33;
;
	padding: 6px 12px;
	transition: all 0.5s;
	z-index: 1001;
}
label #cancel{
	z-index: 1111;
	left: -170px;
	top: 5px;
	font-size: 15px;
	color: #33ff33;
	padding: 4px 9px;
	transition: all 0.5s ease;
}
#check:checked~.sidebar{
	left: 0;
}
#check:checked~label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked~label #cancel{
	left: 160px;
}
section p{
	margin-bottom: 10px;
}
/*Block elements that flip*/
.mainContainer{
	/*position relative*/
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.block, .block-2, .block-3{
	width: 100%;
	height: 300px;
	border-radius: 5%;
	background: #000000;
}
.block-2{
	width: 100%;
	height: 250px;
	border-radius: 15px; 
}
.block-3{
	width: 100%;
	height: 350px;
	border-radius: 15px;
}
.card{
	width: 100%;
	height: 100%;
	background: 100%;
	transition: transform 1s ease-in-out;
	transform-style: preserve-3d;
}
.block:hover .card, .block-2:hover .card, .block-3:hover .card{
	transform: rotateY(180deg);
}
.card figure{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 10px;
}
.front, .front-2, .front-3{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #660033;
	border-radius: 5%;
	color: #ffd700;
	padding: 5px;
}
.back, .back-2, .back-3{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 5%;	
	background: #ffd700;
	color: #660033;
	padding: 5px;
	transform: rotateY(180deg);
}
.front-2{
	background: #493829;
	color: #d57500;
	font-weight: 600;
}
.back-2{	
	background: #d57500; #0000ff  #00ffff
	color: #493829;
	font-weight: 600;
}
.front-3{
	background: #ffffff;
	color: #000000;
	border-radius: 15px;
	padding: 10px;
}
.back-3{	
	background: #29293d;
	color: #ffffff;
	border-radius: 15px;
	padding: 10px;
}
.fast{
	font-size: 23px;
	font-weight: 700;
	color: #fff000;
}
h3 span{
	color: #fff000;
}
.front-para{
	font-size: 23px;
	font-weight: 600;
}
#call-myths div figure img{
	width: 70%;
	height: 60%;
	display: block;
	margin: 5px auto;
}

#call-measures figure li{
	margin: 5px 0;
}
#call-measures figure li a{
	text-decoration: none;
	color: #660033;
}
footer{
	margin: 10px auto;
	paddding: 5px;
	background-image: linear-gradient(to right, #000000 , #666699);
}
footer section{
	text-align: center;
}
footer h3{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #ffd700;
}
.bold{
	color: red;
}
.bold-1{
	background: #000000;
}
.back span, .back-2 span, .back-3 span{
	background: #ffffff;
}
/*Media queries*/
@media(max-width: 575px){
	.block-3{
		height: 650px;
	}
	#call-symptoms{
		padding-left: 10px;
		padding-right: 10px;
	}
	#call-myths div figure img{
		width: 70%;
		height: 70%;
		display: block;
		margin: 5px auto;
	}
	#call-causes div.block{
		height: 240px;
	}
}
@media(max-width: 392px){
	.block-3{
	height: 780px;
	}
	.block-2{
	width: 100%;
	height: 320px;
	border-radius: 15px; 
	}
	#call-myths div.block{
	height: 375px;
	}
	#call-measures div.block-2{
	height: 332px;
	}
}
@media(min-width: 393px) and (max-width: 575px){
	.block, .block-2, .block-3{
		width: 98%;
	}
	#call-measures div.block-2{
		height: 300px;
	}
	#call-causes div.block{
		height: 255px;
	}
	#call-myths div.block{
		height: 350px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	#call-effects div.block{
		height: 325px;
	}
	.block-3{
		height: 500px;
	}
	.block{
		height: 325px;
	}
	#call-myths div.block{
		height: 375px;
	}
	.block-2{
	width: 100%;
	height: 350px;
	border-radius: 15px; 
	}
	#call-measures div.block-2{
		height: 390px;
	}
	#call-causes div.block{
		height: 335px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.block-3{
		height: 420px;
	}
	.block-2{
		height: 265px;
	}
	#call-myths div.block{
		height: 400px;
	}
	#call-causes div.block{
		height: 275px;
	}
	#call-measures div.block-2{
		height: 325px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	#call-causes div.block{
		height: 360px;
	}
	.block-3{
		height: 400px;
	}
	#call-causes div.block{
		height: 375px;
	}
	#call-effects div.block-2{
		height: 240px;
	}
}

@media (min-width: 1200px) {
	#call-effects div.block-2{
		height: 220px;
	}
	#call-causes div.block{
		height: 340px;
	}
}
